@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  html {
    font-family: Assistant, system-ui, sans-serif;
  }
}

:root {
  --primary-DEFAULT: #00f782;
  --primary-dark: #00b35f;
  --gray-lightest: #adadad;
  --gray-lighter: #7a7a7a;
  --gray-light: #55595c;
  --gray-DEFAULT: #3a3a3a;
  --gray-dark: #333132;
  --degrade-dark: linear-gradient(170deg, #222246 0%, #333333 100%);
}

/* Added static font files as a fallback for Safari */

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-Thin.ttf')
      format('truetype');
  font-weight: 100;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-ExtraLight.ttf')
      format('truetype');
  font-weight: 200;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-Light.ttf')
      format('truetype');
  font-weight: 300;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-Regular.ttf')
      format('truetype');
  font-weight: 400;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-Medium.ttf')
      format('truetype');
  font-weight: 500;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-SemiBold.ttf')
      format('truetype');
  font-weight: 600;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-Bold.ttf')
      format('truetype');
  font-weight: 700;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-ExtraBold.ttf')
      format('truetype');
  font-weight: 800;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-Black.ttf')
      format('truetype');
  font-weight: 900;
}

@font-face {
  font-family: 'Assistant';
  src: url('@/public/assets/fonts/Assistant/Assistant-VariableFont_wght.ttf');
  font-weight: 400;
}

@font-face {
  font-family: 'Assistant';
  src: url('@/public/assets/fonts/Assistant/Assistant-VariableFont_wght-semibold.ttf');
  font-weight: 600;
}

@font-face {
  font-family: 'Assistant';
  src: url('@/public/assets/fonts/Assistant/Assistant-VariableFont_wght-bold.ttf');
  font-weight: 700;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-ThinItalic.ttf')
      format('truetype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-ExtraLightItalic.ttf')
      format('truetype');
  font-weight: 200;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-LightItalic.ttf')
      format('truetype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-Italic.ttf')
      format('truetype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-MediumItalic.ttf')
      format('truetype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-SemiBoldItalic.ttf')
      format('truetype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-BoldItalic.ttf')
      format('truetype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-ExtraBoldItalic.ttf')
      format('truetype');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: PublicSans;
  font-display: swap;
  src: url('@/public/assets/fonts/PublicSans/PublicSans-Italic-VariableFont_wght.ttf')
      format('truetype'),
    url('@/public/assets/fonts/PublicSans/static/PublicSans-BlackItalic.ttf')
      format('truetype');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: SpaceMono;
  font-display: swap;
  src: url('@/public/assets/fonts/SpaceMono/SpaceMono-Regular.ttf')
    format('truetype');
}

@font-face {
  font-family: SpaceMono;
  font-display: swap;
  font-weight: bold;
  src: url('@/public/assets/fonts/SpaceMono/SpaceMono-Bold.ttf')
    format('truetype');
}

@font-face {
  font-family: SpaceMono;
  font-display: swap;
  font-style: italic;
  src: url('@/public/assets/fonts/SpaceMono/SpaceMono-Italic.ttf')
    format('truetype');
}

@font-face {
  font-family: SpaceMono;
  font-display: swap;
  font-weight: bold;
  font-style: italic;
  src: url('@/public/assets/fonts/SpaceMono/SpaceMono-BoldItalic.ttf')
    format('truetype');
}

body {
  /* Fix for Safari */
  /* https://stackoverflow.com/a/37365794 */
  font-weight: 400;
  text-rendering: optimizeLegibility;
}

.embed-content blockquote {
  @apply px-4 py-6 mb-6 ml-10 mr-4 text-base italic text-black border-gray-100 border-l-6;
  @apply lg:text-lg;
}

.embed-content blockquote > p {
  @apply pb-6 leading-relaxed;
}

.embed-content blockquote > a {
  @apply font-extralight;
}

.embed-content iframe {
  @apply mb-6;
}

/* fixes '</' in Space Mono */
.font-mono {
  font-variant-ligatures: no-contextual;
}

/* Space Mono doesn't have a medium weight */
.font-mono.font-medium {
  @apply subpixel-antialiased;
}

.rich-content a span {
  text-decoration-line: none;
}

.rich-content a span:hover {
  text-decoration-line: underline;
}

/* https://github.com/videojs/video.js/issues/5751#issuecomment-483585248 */
/* includes fixes for desktop safari  */
.vjs-has-started .vjs-control-bar {
  display: flex;
  align-items: center;
}

.video-js .vjs-current-time,
.vjs-no-flex .vjs-current-time {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.video-js .vjs-time-divider,
.vjs-no-flex .vjs-time-divider {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

.video-js .vjs-duration,
.vjs-no-flex .vjs-duration {
  display: flex !important;
  align-items: center !important;
  height: 100% !important;
}

/*gradient bg*/
.gradient-footer-gray {
  background: linear-gradient(170deg, #222246 0%, #333333 100%);
}

.gradient-header-green {
  background: linear-gradient(30deg, #46c7ba 15%, #634290 100%);
}
.gradient-home-hero {
  background-image: linear-gradient(30deg, #46c7ba 15%, #634290 100%);
}

@media only screen and (min-width: 769px) {
  .gradient-header-btn3 {
    background-image: linear-gradient(90deg, #b8c4ff 0%, #bcb0ff 52%);
  }
  .gradient-header-btn2 {
    background-image: linear-gradient(90deg, #b0ecff 0%, #b2dcff 52%);
  }
  .gradient-header-btn1 {
    background-image: linear-gradient(90deg, #aaffff 0%, #aef0ff 52%);
  }
}

/*banner animation*/

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(360deg);
  }
}

.wave.-one {
  animation: rotate 42000ms infinite linear;
  opacity: 0.9;
  background-color: #e47088;
}
.wave {
  position: absolute;
  opacity: 0.9;
  width: 1500px;
  height: 1200px;
  margin-left: -800px;
  margin-top: -1300px;
  border-radius: 43%;
}

.-two {
  animation: rotate 18000ms infinite linear;
  opacity: 0.9;
  background-color: #a4588c;
}

.-three {
  animation: rotate 22000ms infinite linear;
  background-color: #634290;
}

.box {
  top: 0;
  transform: rotate(80deg);
  left: 0;
}
